<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379031953017-aed4c5977cij4lkm3q26ca9rnj42srde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379031953017-aed4c5977cij4lkm3q26ca9rnj42srde</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTQuJE2Mkjqbeyesh76GitMSU5oakXCk</string>
	<key>GCM_SENDER_ID</key>
	<string>379031953017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eshop5nofirebase</string>
	<key>PROJECT_ID</key>
	<string>eshop5firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop5firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379031953017:ios:4618ea7917794cc340fea8</string>
</dict>
</plist>